.contact-info{
    text-align: center;
    h2 {
        margin:0;
    }
    p {
        text-align:center;
    }
}

.contact-info.in-viewport {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.contact{
    &__container{
        background: #f3f4f6;
    }
    &__wrapper{
        display:flex;
        justify-content: center;
        max-width:1200px;
        margin:40px auto 0 auto;
       
    }
    &__column{
        text-align: center;
        margin:10px;
        width:30%;
        padding:80px 50px;
        // border:1px solid black;
        img {
            max-width:40px;
        }
        p{
            text-align: center;
        }
    }
    &__column.in-viewport {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }
}

@media(max-width:1240px){
    .contact__wrapper{
        width:auto;
    }
}
@media(max-width:900px){
    .contact__column{
        padding:80px 20px;
    }
    .contact-form {
        margin-top:40px;
        width:90%;
        margin-left:auto;
        margin-right:auto;
    }

}
@media(max-width:768px){
    .contact__wrapper{
        flex-direction: column;
        align-items:center;
    }
    .contact__column{
        padding:20px;
        width:70%;
    }
    .modal-content {
        margin-top:200px;
    }
}