.about{
    p {
        max-width:550px;
    }
    img {
        padding:2% 0;
    }
    a {
        margin:20px auto;
    }
    &__container{
        display:flex;
        flex-direction: column;
        align-items:center;
        padding:3% 26%;
        text-align:center;
    }

}