@mixin css-lock($min-size:20,$max-size:40,$min-width:320,$max-width:1600,$property:font-size,$unit:px){    
    #{$property}: calc( #{$min-size}#{$unit} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}#{$unit}) / (#{$max-width} - #{$min-width})));
  }

.main-page{
    position:relative;
}

.main-page-overlay{
    background:#e2e5e8;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:600px;
}

.about{
    p {
        max-width:650px;
        
    }

    
    img {
        margin:20px 0;
    }
    a {
        margin:20px auto;
    }
    &__container{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        padding:50px 100px;
        text-align:center;
    }

    h4.in-viewport {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        
    }
    h2.in-viewport {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }
    p.in-viewport {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }

}

.offer{
    width:1520px;
    margin:0 auto;
    margin-bottom:50px;

    &__wrap{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        position:relative;
    }
}

.review{
    background:#f4f5f7;
    
    p {
        max-width:550px;
    }
    img {
        margin:20px 0;
    }
    &__container{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        padding:3% 26% 0% 26%;
        text-align:center;
    }
}

.main-slider__content.in-viewport {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

/* RWD */

@media(max-width:1540px){
    .offer__wrap{
        justify-content: center;
    }
}
@media(max-width:1378px){

    .main-page-overlay {
        height:500px;
    }
}