@mixin css-lock($min-size:20,$max-size:40,$min-width:320,$max-width:1600,$property:font-size,$unit:px){    
    #{$property}: calc( #{$min-size}#{$unit} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}#{$unit}) / (#{$max-width} - #{$min-width})));
}

.offer-single{
    $self:&;


    &__wrapper{
        margin-top:40px;
        margin-bottom:40px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    &__thumbnail{
        height:auto;
        width:250px;
        margin:5px;
        display:block;
        position:relative;
        overflow:hidden;
    }
    &__thumbnail:hover{
        #{$self}__image{
            -webkit-transform: scale(1.04);
                    transform: scale(1.04);
        }
        #{$self}__title{
            opacity:0;
        }
        #{$self}__title-wrapper{
            opacity:0;
        }


    }

    &__image{
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        width:100%;
        height:250px;
        -webkit-transition: -webkit-transform 1s ease-in-out;
        transition: -webkit-transform 1s ease-in-out;
        transition: transform 1s ease-in-out;
        transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    }

    &__title-wrapper{

        -webkit-transition:all 0.5s ease-in-out;
        transition:all 0.5s ease-in-out;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(255,255,255,0.8);
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }
    &__title{

        font-size:14px;
        text-align:center;
        padding:10px;
        max-width:80%;
        text-transform:uppercase;
        -webkit-transition:all 0.5s ease-in-out;
        transition:all 0.5s ease-in-out;
    }
    &__read-more{
        position:absolute;
        background:rgba(255, 255, 255, 0.5);
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        top:0;
        left:0;
        right:0;
        bottom:0;
        opacity:0;
        -webkit-transition:all 0.5s ease-in-out;
        transition:all 0.5s ease-in-out;
        h2 {
            background:white;
            padding:15px 30px;
            border:1px solid black;
            font-size:20px;
            @include css-lock(16,20);
        }
    }
    &__overlay{
        height:250px;
        position:relative;
        overflow:hidden;
        -webkit-transition:all 0.5s ease-in-out;
        transition:all 0.5s ease-in-out;
    }
    &__symbol{
        max-width:30px;
    }
    &__line{
        position:absolute;
        top:10px;
        left:10px;
        bottom:10px;
        right:10px;
        border:1px solid black;
    }
    &__content-wrapper{
        width:70%;
        padding:0px 40px;
    }
    &__baner{
        margin: 0 auto;
        display:block;
    }
    
    &__gallery-wrapper{
        h4 {
            text-align: center;
        }
        .gallery-wrapper{
            width:auto !important;
        }
        .image{
            cursor:pointer;
        }
    }
    &__tabs-content{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height:auto;        
    }
    &__tabs-link{
        overflow:hidden;
        width:47%;        
        margin:10px;
        display:block;
        position:relative;
        height:300px;
        &:hover .offer-single__title-wrapper {
            opacity:0;
        }
        &:hover .offer-single__tabs-overlay{
            -webkit-transform: scale(1.04);
                    transform: scale(1.04);
        }
    }
    &__tabs-title p {
        text-transform:uppercase;
        font-family: "Marcellus SC", serif;
        @include css-lock(12,14);
        border:1px solid black;
        padding:5px 10px;
        cursor:pointer;
        -webkit-transition:all 0.3s ease;
        transition:all 0.3s ease;
        &:hover{
            background:black;
            color:white;
        }

    }
    &__tabs-overlay{
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        
        -webkit-transition:all 0.5s ease;
        transition:all 0.5s ease;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:2;
    }

    &__title-item{
       @include css-lock(14,18);
       text-align:center;
       padding:20px 60px;
    }

    &__flower{
        display:block;
        margin:20px auto;
        max-width:30px;
    }
    .link-button--offer-single{
        position:absolute;
        bottom:40px;
        z-index:2;
        left:50%;
        -webkit-transform:translateX(-50%);
                transform:translateX(-50%);  
    
    }

}

.expand-enter-active,
    .expand-leave-active {
        -webkit-transition: height 1s ease;
        transition: height 1s ease;
        overflow: hidden;
    }

    .expand-enter,
    .expand-leave-to {
    height: 0;
    }

.offer-bg {background-size: cover;height: 450px;background-repeat: no-repeat;background-position: center center;margin-top:40px;}

@media(max-width:768px){

    .offer-single__content-wrapper {
        width:100%;
    }
    .aside {
        width:100%;
        padding:0 50px;
    }
    
}

@media(max-width:600px){
    .offer-single__content-wrapper{
        padding:0 20px;
    }
    .aside {
        padding:0 20px;
    }

    .offer-single__tabs-link{
        width:100%;
        margin:1% 0;
    }

}