.price-list{
    margin-bottom:40px;

    &__image{
        display:block;
        margin:30px auto;
    }
    &__title{
        text-align:center;
        display:block;
    }
    &__content{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding:10px 20px;
        p{
            text-transform:uppercase;
            letter-spacing: 1px;
            color:black;
        }
    }
    &__content.in-viewport {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }
    &__content:nth-child(even){
        background:#f3f4f6;
    }

    &__header.in-viewport {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }
}

@media(max-width:768px){
    .price-list__image{
        max-width:40px;
        margin:20px auto;
    }
    .price-list__box p {
        text-align: left;
    }
}