@import './normalizer.scss';

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700&subset=latin-ext');
  // font-family: 'Raleway', sans-serif;
  @import url('https://fonts.googleapis.com/css?family=Marcellus+SC&subset=latin-ext');
  // font-family: 'Marcellus SC', serif;


  .page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }

  body {
    font-family: 'Raleway', sans-serif;
  }

  html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#edit-slug-box {
  display:none !important;
}
main {
  padding-top:103px;
}

.container{
  width:1520px;
  margin:0 auto;
}
.container--narrow{
  width:1180px;
}

h4.text {
  color:#959595;
  text-transform: uppercase;
  font-size:18px;
  font-weight:400;
}

h1 {
  color:black;
  font-weight:400;
  font-size:40px;
  font-family: "Marcellus SC", serif;
}
h2{
  color:black;
  font-weight:400;
  font-size:30px;
  font-family: "Marcellus SC", serif;
}

.content h2 {
  margin:40px 0;
}

p{
  font-size:14px;
  font-weight:400;
  color:#959595;
  line-height:2;
}

a {
  transition:all 0.3s ease-in-out;
  text-decoration:none;
  color:#628600;
  &:hover{
    color:darkred;
  }
}

ul,ol {
  padding-left:15px;
}
ul li,
ol li{
  font-size:14px;
  font-weight:400;
  color:#959595;
  line-height:2;
}
.symbol-bottom{
  display:block;
  margin:40px auto;
}

.aligncenter{
  display:block;
  margin:40px auto;
}

iframe {
  width:100%;
  // max-width:800px;
  margin: 0 auto;
  height:600px;
  display:block;
}