@mixin css-lock($min-size:20,$max-size:40,$min-width:320,$max-width:1600,$property:font-size,$unit:px){    
  #{$property}: calc( #{$min-size}#{$unit} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}#{$unit}) / (#{$max-width} - #{$min-width})));
}

@import './normalizer.scss';

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700&subset=latin-ext');
  /* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC&subset=latin-ext');
  /* font-family: 'Marcellus SC', serif; */


  .page-enter-active, .page-leave-active {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }

  body {
    font-family: 'Raleway', sans-serif;
    overflow:auto !important;
  }

  html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.overflow-x {
  overflow-x:hidden;
}
table {
  width:100% !important;
}
table td {
  padding:15px 10px;
}
table tr:nth-child(even) {
  background:rgb(243, 244, 246);
}
img {
  max-width:100%;
  height:auto;
}
#edit-slug-box {
  display:none !important;
}
main {
  padding-top:103px;
}

.container{
  width:1520px;
  margin:0 auto;
}
.container--narrow{
  width:1180px;
}

.container--split {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding:40px 0;
}

h4.text {
  color:#959595;
  text-transform: uppercase;
  font-size:18px;
  font-weight:400;
  @include css-lock(14,18);
}

h1 {
  color:black;
  font-weight:400;
  font-size:40px;
  font-family: "Marcellus SC", serif;
  @include css-lock(28,40);
}
h2{
  color:black;
  font-weight:400;
  font-size:30px;
  font-family: "Marcellus SC", serif;
  @include css-lock(24,30);
}
h3{
  color:black;
  font-weight:400;
  font-size:28px;
  font-family: "Marcellus SC", serif;
  @include css-lock(20,28);
}
h4 {
  color:black;
  font-weight:400;
  font-size:24px;
  font-family: "Marcellus SC", serif;
  @include css-lock(12,24);
}
.content--default{
  padding:40px 0;
  padding-top:0;
  width:960px;
  margin:0 auto;
}

.content h2 {
  margin:40px 0;
}

p{
  font-size:14px;
  font-weight:400;
  /* color:#959595; */
  color:black;
  line-height:2;
  text-align: justify;
  @include css-lock(12,14);
}

a {
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  text-decoration:none;
  color:#628600;
  @include css-lock(12,14);
}

a:hover{
  color:#c11c25;
}

b, strong {
  font-weight: 600;
}

ul,ol {
  padding-left:15px;
}
ul li,
ol li{
  font-size:14px;
  font-weight:400;
  /* color:#959595; */
  color:black;
  line-height:2;
  @include css-lock(12,14);
}
.symbol-bottom{
  display:block;
  margin:40px auto;
}

.aligncenter{
  display:block;
  margin:40px auto;
}

iframe {
  width:100%;
  margin: 0 auto;
  height:600px;
  display:block;
}

.page-baner{
  background:#f3f4f6;
  padding:30px;
  text-align: center;

}
.bread-crumbs {
  font-size:12px;
  font-weight:700;
  text-align:center;
} 
.bread-crumbs h1 {
  text-align:center;
} 

.bread-crumbs a,span {
color:#acacac;
text-decoration:none;
text-transform:uppercase;
-webkit-transition:all 0.3s ease-in-out;
transition:all 0.3s ease-in-out;
} 

.bread-crumbs a:hover{
  color:#555555;
}

.bread-crumbs a.nuxt-link-exact-active{
  color:#555555;
}

.bread-crumbs a:last-child{color:#555555;}    

.bread-crumbs span.bread-crumbs__destiny {color:#555555;}

.blueimp-gallery{
  overflow-x:hidden;
}

.voucher-link {
  position:fixed;
  right:-110px;
  top:400px;
  display: block;
  padding: 3px;
  text-decoration: none;
  // border: 1px solid black;
  z-index:3;
  border:1px solid #628600; 
  -webkit-transform:rotate(-90deg) translateX(50%);
          transform:rotate(-90deg) translateX(50%);

  &:hover .voucher-text{
    background:#628600;
  }
  &:hover {
    border:1px solid #628600;
  }
}
.voucher-text{
  // background: black;
  background:#628600;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  @include css-lock(16,20);

}
.map-wrapper{
  margin-top:0px;
}
.map-frame{
  height:500px;
}

/* RWD */

@media(max-width:1550px){

  .container {
    width:1400px;
  }
  

}


@media(max-width:1440px) {
  .container {
      width:1300px;
  }
  
}

@media(max-width:1340px){
  .container {
    width:1200px;
  }
}

@media(max-width:1240px){
  .container{
    width:1100px;
  }
  main {
    padding-top:72px;
  }

}

@media(max-width:1140px){
  .container{
    width:100%;
  }
}


/* Animations */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}






@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}






@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}


@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50% {
    opacity: 1;
  }
}


@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50% {
    opacity: 1;
  }
}


.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}




@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;

}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}