.footer{
    background:#e2e5e8;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    
    &__logo {
        padding:40px 0;
    }
    &__contact{
        h2{
            font-size:16px;
            text-transform:uppercase;
            
        }
        h4 {
            color:#7d7d7d;
            font-size:14px;
            font-weight:400;
            
        }
        a {
            color:#7d7d7d;
            font-size:14px;
            font-weight:400;
            text-decoration:none;
        }
        p {
            color:black;
            font-size:14px;
        }
    }

    .socials{
        padding-bottom:40px;
    }

    .rights{
        width:100%;
        padding:20px 0;
        border-top:1px solid #c0c3c5;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        
        p{
            margin:0 20px;
            font-size:12px;
        }

        a{
            margin:0;
            font-size:12px;
            color:#959595;
            text-decoration:none;
            -webkit-transition:all 0.3s ease-in-out;
            transition:all 0.3s ease-in-out;
            &:hover{
                color:black;
            }
        }
    }
}

@media(max-width:700px){
    .footer .rights{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer .rights p {
        text-align:center;
    }
}