header{
    
}

.navigation.isScrolling{
    -webkit-box-shadow:0px 0px 21px 0px rgba(0, 0, 0, 0.3);
            box-shadow:0px 0px 21px 0px rgba(0, 0, 0, 0.3);

}
.navigation{
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    padding:10px 0;
    position:fixed;
    width:100%;
    background:#e2e5e8;
    z-index:1030;
    &__container{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }
    &__wrapper{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }
    &__list{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        margin:0 30px 0 0;
        padding:0;
        
    }

    &__item{
        list-style: none;
        
    }

    &__link{
        text-decoration:none;
        font-size:12px;
        font-weight:700;
        text-transform:uppercase;
        color:#555555;
        -webkit-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        display:block;
        border:1px solid transparent;
        position:relative;
        padding:14px 20px;
        span {
            position:absolute;
            background:#555555;
            -webkit-transition:all 0.3s ease-in-out;
            transition:all 0.3s ease-in-out;
        }
        span:nth-child(1){
            top: 0;
            left: 0;
            width: 0;
            height: 1px;
        }
        span:nth-child(2){
            top: 0;
            right: 0;
            width: 1px;
            height: 0;
        }
        span:nth-child(3){
            bottom: 0;
            right: 0;
            width: 0;
            height: 1px;
        }
        span:nth-child(4){
            bottom: 0;
            left: 0;    
            width: 1px;
            height: 0;
        }
        &:hover {
            color:#555555;
            span:nth-child(1){            
                width:100%;
            }
            span:nth-child(2){            
                height:100%;
            }
            span:nth-child(3){            
                width:100%;
            }
            span:nth-child(4){            
                height:100%;
            }
        }
        position:relative;
    }
    &__link.nuxt-link-exact-active {
        color:#555555;
        span:nth-child(1){            
            width:100%;
        }
        span:nth-child(2){            
            height:100%;
        }
        span:nth-child(3){            
            width:100%;
        }
        span:nth-child(4){            
            height:100%;
        }

    }

    &__sub-list{
        position:absolute;
       
        -webkit-transition: all 0.3s ease-in-out;
        border: 1px solid #e2e5e8;
        transition: all 0.3s ease-in-out;
        opacity:0;
        visibility: hidden;
        background:#ffffff;
        top:103px;
        padding:0;
        width: 100%;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        // box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.35);
    }
    &__sub-list.open{
        
        visibility:visible;
        opacity:1;
    }
    &__sub-item {
        list-style:none;
    }
    &__sub-item a {
        text-decoration:none;
        text-transform:uppercase;
        color:#555555;
        font-size:14px;
        padding:10px 20px;
        display:block;
        &:hover span{
            
            color:black;
        }

    }
    &__sub-item a.nuxt-link-active span{
       
        color:black;
    }
    
}

.arrow-down {
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:1030;
    border:1px solid black;
    height:40px;
    width:40px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;    
    cursor:pointer;

}
