header{
    
}

.navigation{
    padding:10px 0;
    position:fixed;
    width:100%;
    // top:0;
    // left:0;
    background:#ffffff;
    z-index:1030;
    &__container{
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    &__wrapper{
        display:flex;
        align-items:center;
    }
    &__list{
        display:flex;
        margin:0;
        padding:0;
        
    }

    &__item{
        list-style: none;
        
    }
    &__link{
        text-decoration:none;
        font-size:14px;
        font-weight:700;
        text-transform:uppercase;
        color:#555555;
        transition:all 0.3s ease-in-out;
        padding:20px;
        display:block;
        &:hover{
            color:black;
        }
        position:relative;
    }

    &__sub-list{
        position:absolute;
        z-index:2;
        transition: all 0.3s ease-in-out;
        opacity:0;
        visibility: hidden;
    }
    &__sub-list.open{
        
        visibility:visible;
        opacity:1;
    }

    
}

