.link-button{
    text-decoration:none;
    background:transparent;
    border:1px solid #acacac;
    padding:3px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    &:hover{
        border:1px solid black;
    }
    &:hover .link-button__text{
        background:black;
        
    }
    &__text{
        text-transform: uppercase;
        letter-spacing:1px;
        color:#ffffff;
        padding:16px 30px;
        -webkit-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        background:#acacac;
        margin:0;
    }
}