@mixin css-lock($min-size:20,$max-size:40,$min-width:320,$max-width:1600,$property:font-size,$unit:px){    
    #{$property}: calc( #{$min-size}#{$unit} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}#{$unit}) / (#{$max-width} - #{$min-width})));
}

.main-slider{
    &__slide{
        height:750px;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        position:relative;
    }
    &__overlay{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background: rgba(255,255,255,1);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(42%, rgba(255,255,255,0.58)), color-stop(43%, rgba(255,255,255,0.57)), color-stop(71%, rgba(255,255,255,0.29)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,1)), color-stop(42%, rgba(255,255,255,0.58)), color-stop(43%, rgba(255,255,255,0.57)), color-stop(71%, rgba(255,255,255,0.29)), to(rgba(255,255,255,0)));
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.58) 42%, rgba(255,255,255,0.57) 43%, rgba(255,255,255,0.29) 71%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    }
    &__content{
        z-index:2;
        position:absolute;
        left:5%;
        top:50%;
        -webkit-transform:translateY(-50%);
                transform:translateY(-50%);
        max-width:550px;
        text-align:center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        
        p{
            font-size:16px;
            font-weight:400;
            color:#959595;
            text-transform:uppercase;
            @include css-lock(12,16);
        }
        h2{
            font-family: 'Marcellus SC', serif;
            font-size:40px;
            color:black;
            font-weight:400;
            margin-top:10px;
            @include css-lock(20,40);
        }        
    }
    &__nav {
        position:absolute;
        bottom:20px;
        width:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        .swiper-pagination{
            position:relative;
        }
        .swiper-pagination-bullet {
            border-radius:0;
            height:10px;
            width:10px;
            margin:0 10px;
            outline:0;
            background:#ffffff;
            opacity:1;
        }
        .swiper-pagination-bullet-active{
            background:black;
        }
  
    }

    &__button-next,
    &__button-prev{
        margin:2px 10px;
        outline:0;
        cursor:pointer;
    }
}

@media(max-width:1378px){
    .main-slider__slide{
        height:600px;
    }
}
@media(max-width:1024px){
    .main-slider__content{
        max-width:400px;
        top:auto;
        bottom:100px;
        -webkit-transform:none;
                transform:none;
    }
}
@media(max-width:600px){
    .main-slider__slide{
        height:480px;
    }
    .main-slider__content{
        bottom:60px;
    }
    .main-slider__content p{
        margin-bottom:0;
        color:black;
    }

    .main-slider__nav{
        display:none;
    }
}